/* Botões Riscos ---------------------------------------------*/

/*Botão U --------------------------*/
#letraU {
    position: absolute;
    top: 931px;
    left: 618px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
    
}
#botaoU1 {
    position: absolute;
    top: 942px;
    left: 618px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoU2 {
    position: absolute;
    top: 942px;
    left: 618px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}

/*Botão V --------------------------*/
#letraV {
    position: absolute;
    top: 931px;
    left: 686px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoV1 {
    position: absolute;
    top: 942px;
    left: 685px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoV2 {
    position: absolute;
    top: 942px;
    left: 685px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão E --------------------------*/
#letraE {
    position: absolute;
    top: 931px;
    left: 753px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoE1 {
    position: absolute;
    top: 942px;
    left: 753px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoE2 {
    position: absolute;
    top: 942px;
    left: 753px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão S --------------------------*/
#letraS {
    position: absolute;
    top: 994px;
    left: 120px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoS1 {
    position: absolute;
    top: 1005px;
    left: 120px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoS2 {
    position: absolute;
    top: 1005px;
    left: 120px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão P --------------------------*/
#letraP {
    position: absolute;
    top: 994px;
    left: 188px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoP1 {
    position: absolute;
    top: 1005px;
    left: 187px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoP2 {
    position: absolute;
    top: 1005px;
    left: 187px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão D --------------------------*/
#letraD {
    position: absolute;
    top: 994px;
    left: 255px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoD1 {
    position: absolute;
    top: 1005px;
    left: 255px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoD2 {
    position: absolute;
    top: 1005px;
    left: 255px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão M --------------------------*/
#letraM {
    position: absolute;
    top: 994px;
    left: 321.5px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoM1 {
    position: absolute;
    top: 1005px;
    left: 323px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoM2 {
    position: absolute;
    top: 1005px;
    left: 323px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão J1 --------------------------*/
#letraJ1 {
    position: absolute;
    top: 994px;
    left: 392px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoJ1 {
    position: absolute;
    top: 1005px;
    left: 391px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoJ2 {
    position: absolute;
    top: 1005px;
    left: 391px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão J2 --------------------------*/
#letraJ2 {
    position: absolute;
    top: 994px;
    left: 483px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoJ01 {
    position: absolute;
    top: 1005px;
    left: 482px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoJ02 {
    position: absolute;
    top: 1005px;
    left: 482px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão L --------------------------*/
#letraL {
    position: absolute;
    top: 994px;
    left: 551px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoL1 {
    position: absolute;
    top: 1005px;
    left: 550px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoL2 {
    position: absolute;
    top: 1005px;
    left: 550px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão F --------------------------*/
#letraF {
    position: absolute;
    top: 994px;
    left: 619px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoF1 {
    position: absolute;
    top: 1005px;
    left: 618px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoF2 {
    position: absolute;
    top: 1005px;
    left: 618px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão U2 --------------------------*/
#letraU2 {
    position: absolute;
    top: 994px;
    left: 685.5px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoU01 {
    position: absolute;
    top: 1005px;
    left: 685px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoU02 {
    position: absolute;
    top: 1005px;
    left: 685px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão V2 --------------------------*/
#letraV2 {
    position: absolute;
    top: 994px;
    left: 753.5px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoV01 {
    position: absolute;
    top: 1005px;
    left: 753px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoV02 {
    position: absolute;
    top: 1005px;
    left: 753px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão D2 --------------------------*/
#letraD2 {
    position: absolute;
    top: 1057px;
    left: 74.5px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoD01 {
    position: absolute;
    top: 1067px;
    left: 74px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoD02 {
    position: absolute;
    top: 1067px;
    left: 74.5px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão C --------------------------*/
#letraC {
    position: absolute;
    top: 1057px;
    left: 277px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoC1 {
    position: absolute;
    top: 1067.5px;
    left: 277px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoC2 {
    position: absolute;
    top: 1067.5px;
    left: 278px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}
/*Botão N --------------------------*/
#letraN {
    position: absolute;
    top: 1149px;
    left: 74.5px;
    height: 18.5px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}
#botaoN1 {
    position: absolute;
    top: 1159.5px;
    left: 74.4px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#botaoN2 {
    position: absolute;
    top: 1159.5px;
    left: 74.4px;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: none;
    cursor: pointer;
    font-size: 28px;
    display: inline-block;
    transform: rotate(30deg);
}