body {
    margin: 0;
    padding: 0;
    background-color: rgb(177, 192, 215);
    height: 200vh;
    font-family: Arial, Helvetica, sans-serif;
}

.barraSuperior {
    background-color: rgb(4, 40, 120);
    color: white;
    margin: 0;
    padding: 1px;
    text-align: center;
    justify-content: center;
}

.boxReferencia {
    position: absolute;
    top: 95px;
    background-color: white;
    width: 485px;
    height: 320px;
    border-radius: 8px;
}
button#enviar {
    position: relative;
    top: -5px;
    left: 400px;
    margin: 0;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#abaColaInfoPlan {
    position: relative;
    margin: 0;
    background-color: rgb(4, 40, 120);
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 465px;
    color: white;
    text-align: left;
    font-size: 16px;
}

.aba {
    position: absolute;
    top: 0px;
    width: 486.5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
    background-color: rgb(4, 40, 120);
    padding: 10px;
    color: white;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}
.aba:hover {
    background-color: white;
    border: 2px solid rgb(4, 40, 120);
    color: rgb(4, 40, 120);
}

.coluna {
    display: none;
}
#idColuna {
    background-color: white;
    padding: 17.1px;
    margin: 0;
    border-radius: 8px;
    border-bottom-right-radius: 0;
}
.coluna2 {
    display: none;
}
#idColuna2 {
    background-color: white;
    padding: 17.2px;
    margin: 0;
    border-radius: 8px;
    border-bottom-left-radius: 0;
}

.boxDados {
    position: absolute;
    top: 420px;
    padding-top: 35px;
    height: 750px;
    display: flex;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.colunaDireita {
    position: absolute;
    top: 0px;
    right: 2%;
    width: 485px;
    min-width: max-content;
}
.colunaEsquerda {
    margin-left: 20px;
}

img {
    position: absolute;
    top: 86px;
    z-index: -1;
    width: 850px;
    height: auto;
    margin: 10px;
    border-radius: 4px;
    padding: 50px;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
    
}

textarea#caixaTexto {
    position: relative;
    left: 5px;
    margin: 10px;
    margin-top: 30px;
    height: 200px;
    width: 440px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(141, 141, 141);
    resize: none;
    text-indent: 0px;
    text-align: left;
}
input {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(141, 141, 141);
}


/*Plano de voo*/
.planoDeVoo {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12.4px;
    font-weight: bold;
}

#identAero {
    position: absolute;
    top: 395px;
    left: 285px;
}

#regrasVoo {
    position: absolute;
    top: 395px;
    left: 601px;
}

#tipoVoo {
    position: absolute;
    top: 395px;
    left: 759px;
}

#numero {
    position: absolute;
    top: 441px;
    left: 81px;
}

#tipoAero {
    position: absolute;
    top: 441px;
    left: 240px;
}
#catEstTurb {
    position: absolute;
    top: 441px;
    left: 511px;
}
#equipamento {
    position: absolute;
    top: 447px;
    left: 646px;
    font-size: 12px;
    letter-spacing: 1px;
}
#aerodroPart {
    position: absolute;
    top: 486px;
    left: 149px;
}
#hora {
    position: absolute;
    top: 486px;
    left: 353px
}
#veloCruz {
    position: absolute;
    top: 534px;
    left: 80px;
}
#nivel {
    position: absolute;
    top: 534px;
    left: 218px;
}
#rota {
    position: absolute;
    top: 530px;
    left: 51px;
    resize: none;
    height: 153px;
    width: 796px;
    background: none;
    border:none;
    line-height: 1.45;
    text-indent: 300px;
    font-weight: bold;
    font-size: 15.5px;
    padding-left: 8px;
    letter-spacing: 1px;
}
#aerodroDest {
    position: absolute;
    top: 706px;
    left: 148px;
}
#totalEtt {
    position: absolute;
    top: 707px;
    left: 352px;
}
#aerodroAltn {
    position: absolute;
    top: 707px;
    left: 533px;
}
#aerodroAltn2 {
    position: absolute;
    top: 707px;
    left: 691px;
}
#OutrosDados {
    position: absolute;
    top: 748px;
    left: 51px;
    resize: none;
    height: 115px;
    width: 794px;
    background: none;
    border:none;
    line-height: 1.45;
    text-indent: 30px;
    font-weight: bold;
    font-size: 15.5px;
    padding-left: 10px;
    letter-spacing: 1px;
}
/*------------------------------------------------------------*/
#autonomia {
    position: absolute;
    top: 945px;
    left: 122px;
    resize: none;
    height: 19px;
    width: 89px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12.5px;
    line-height: 1.4;
    text-indent: 0.6px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#pessoasABordo {
    position: absolute;
    top: 945px;
    left: 322px;
    resize: none;
    height: 19px;
    width: 71px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12.5px;
    line-height: 1.4;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#uhf {
    position: absolute;
    top: 933px;
    left: 624px;
}
#vhf {
    position: absolute;
    top: 933px;
    left: 691px;
}
#elt {
    position: absolute;
    top: 933px;
    left: 759px;
}
#botes {
    position: absolute;
    top: 996px;
    left: 126px;
}
#polar {
    position: absolute;
    top: 996px;
    left: 193px;
}
#deserto {
    position: absolute;
    top: 996px;
    left: 261.5px;
}
#maritmo {
    position: absolute;
    top: 996px;
    left: 329px;
}
#selva {
    position: absolute;
    top: 996px;
    left: 397px;
}
#coletes {
    position: absolute;
    top: 996px;
    left: 488px;
}
#luz {
    position: absolute;
    top: 996px;
    left: 556px;
}
#fluores {
    position: absolute;
    top: 996px;
    left: 623.5px;
}
#uhf2 {
    position: absolute;
    top: 996px;
    left: 691.5px;
}
#vhf2 {
    position: absolute;
    top: 996px;
    left: 759px;
}
#d {
    position: absolute;
    top: 1058.3px;
    left: 81px;
}
#numero2 {
    position: absolute;
    top: 1073px;
    left: 120px;
    resize: none;
    height: 17px;
    width: 49px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12px;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#capacidade {
    position: absolute;
    top: 1073px;
    left: 187px;
    resize: none;
    height: 17px;
    width: 69px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12px;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#abrigo {
    position: absolute;
    top: 1059px;
    left: 283.5px;
}
#cor {
    position: absolute;
    top: 1073px;
    left: 321px;
    resize: none;
    height: 17px;
    width: 180px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#corEMarcaDaAeronave {
    position: absolute;
    top: 1118px;
    left: 120px;
    letter-spacing: 1px;
    resize: none;
    height: 17px;
    width: 733px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#n {
    position: absolute;
    top: 1150.5px;
    left: 80.5px;
    letter-spacing: 1px;
}
#observacoes {
    position: absolute;
    top: 1165px;
    left: 120px;
    letter-spacing: 1px;
    resize: none;
    height: 17px;
    width: 650px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#pilotoEmComando {
    position: absolute;
    top: 1210px;
    left: 120px;
    letter-spacing: 1px;
    resize: none;
    height: 17px;
    width: 380px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#nome {
    position: absolute;
    top: 1290px;
    left: 65px;
    letter-spacing: 1px;
    resize: none;
    height: 17px;
    width: 263px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#codigoDac {
    position: absolute;
    top: 1302px;
    left: 344px;
    resize: none;
    height: 17px;
    width: 143px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 13.5px;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}

