body {
    margin: 0;
    padding: 0;
    background-color: rgb(223, 233, 247);
    height: 200vh;
    font-family: Arial, Helvetica, sans-serif;
}

.barraSuperior {
    background-color: rgb(4, 40, 120);
    color: white;
    margin: 0;
    padding: 1px;
    text-align: center;
    justify-content: center;
}

#abaColaInfoPlan {
    top: 0;
    margin: 10px;
    text-align: left;
    color: white;
    font-weight: bold;
}

#colunaDireita {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    min-width: max-content;
    text-align: center;
    
}

#boxReferencia {
    position: absolute;
    background-color: rgb(4, 40, 120);
    height: 335px;
    width: 95%;
    border-radius: 4px;
    margin: 15px;
    z-index: 1;
}
#janelaInternaReferência {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 98%;
    height: 292px;
    background-color: rgb(246, 246, 246);

}

#fundoColuna {
    position: relative;
    top: 80px;
    left: -15px;
    background-color: rgba(0, 0, 0, 0.445);
    height: 560px;
    width: 629px;
    z-index: -1;
}

textarea#caixaTexto {
    position: relative;
    left: 0;
    margin: 10px;
    margin-top: 15px;
    height: 200px;
    width: 90%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(141, 141, 141);
    resize: none;
    text-indent: 0px;
    text-align: left;
    z-index: 1;
}

button#enviar {
    position: relative;
    left: 0;
    margin: 0;
    margin-left: 0;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(4, 40, 120);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    border: 2.1px solid rgb(4, 40, 120);
}
button#enviar:hover {
    background-color: rgb(246, 246, 246);
    border: 2px solid rgb(4, 40, 120);
    color: rgb(4, 40, 120);
    font-weight: bold;
}

button#limpar {
    position: absolute;
    top: 500px;
    left: 225px;
    margin-left: 15px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(4, 40, 120);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    border: 2.1px solid rgb(4, 40, 120);
    z-index: 1;
}
button#limpar:hover {
    background-color: rgb(246, 246, 246);
    border: 2px solid rgb(4, 40, 120);
    color: rgb(4, 40, 120);
    font-weight: bold;
}

#abaCarregarImagem {
    position: absolute;
    top: -16px;
    left: 0px;
    background-color: rgb(4, 40, 120);
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 580px;
    color: white;
    text-align: left;
    font-size: 16px;
}

.boxAssinatura {
    position: absolute;
    top: 350px;
    background-color: rgb(246, 246, 246);
    height: 90px;
    width: 580px;
    padding: 10px;
    border-radius: 8px;
}

input#inputImagem {
    position: relative;
    margin-top: 37px;
    margin-left: 25px;
    border: 1px solid rgb(186, 186, 186);
    padding: 15px;
    width: 420px;
    border-radius: 4px;
}

button#esconderCluna {
    position: absolute;
    right: 12px;
    top: 14px;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    border: none;
    font-size: 22px;
    background-color: rgb(4, 40, 120);
    color: white;
    padding-top: 0;
    vertical-align: middle;
}
button#esconderCluna:hover {
    background-color: white;
    color: rgb(4, 40, 120);
    border: 2px solid rgb(4, 40, 120);
}

img#plano {
    position: relative;
    top: 30px;
    z-index: -1;
    width: 850px;
    height: auto;
    margin: 10px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.445);
    padding-top: 20px;
    padding-bottom: 20px;
}
#grupoParagrafosPlan {
    position: relative;

}



/*----  PLANO DE VOO  --------------------------------*/
.colunaEsquerda {
    position: absolute;
    left: 50%;
    transform: translate(-50%); 
}

.planoDeVoo {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12.4px;
    font-weight: bold;
}

#identAero {
    position: absolute;
    top: 310px;
    left: 285px;
}

#regrasVoo {
    position: absolute;
    top: 310px;
    left: 601px;
}

#tipoVoo {
    position: absolute;
    top: 310px;
    left: 759px;
}

#numero {
    position: absolute;
    top: 356px;
    left: 81px;
}

#tipoAero {
    position: absolute;
    top: 356px;
    left: 240px;
}
#catEstTurb {
    position: absolute;
    top: 356px;
    left: 511px;
}
#equipamento {
    position: absolute;
    top: 362px;
    left: 646px;
    font-size: 12px;
    letter-spacing: 1px;
}
#aerodroPart {
    position: absolute;
    top: 401px;
    left: 149px;
}
#hora {
    position: absolute;
    top: 401px;
    left: 353px
}
#veloCruz {
    position: absolute;
    top: 449px;
    left: 80px;
}
#nivel {
    position: absolute;
    top: 449px;
    left: 218px;
}
#rota {
    position: absolute;
    top: 445px;
    left: 51px;
    resize: none;
    height: 153px;
    width: 796px;
    background: none;
    border:none;
    line-height: 1.45;
    text-indent: 300px;
    font-weight: bold;
    font-size: 15.5px;
    padding-left: 10px;
    padding-right: 4px;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-align: justify;
}
#aerodroDest {
    position: absolute;
    top: 621px;
    left: 148px;
}
#totalEtt {
    position: absolute;
    top: 622px;
    left: 352px;
}
#aerodroAltn {
    position: absolute;
    top: 622px;
    left: 533px;
}
#aerodroAltn2 {
    position: absolute;
    top: 622px;
    left: 691px;
}
#OutrosDados {
    position: absolute;
    top: 663px;
    left: 51px;
    resize: none;
    height: 115px;
    width: 794px;
    background: none;
    border:none;
    line-height: 1.45;
    text-indent: 30px;
    font-weight: bold;
    font-size: 15.5px;
    padding-left: 10px;
    padding-right: 4px;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-align: justify;
}


/*-----   INFORMAÇÕES SUPLEMENTARES   -------------------------*/
#autonomia {
    position: absolute;
    top: 860px;
    left: 122px;
    resize: none;
    height: 19px;
    width: 89px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12.5px;
    line-height: 1.4;
    text-indent: 0.6px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#pessoasABordo {
    position: absolute;
    top: 860px;
    left: 322px;
    resize: none;
    height: 19px;
    width: 71px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12.5px;
    line-height: 1.4;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#uhf {
    position: absolute;
    top: 848px;
    left: 624px;
}
#vhf {
    position: absolute;
    top: 848px;
    left: 691px;
}
#elt {
    position: absolute;
    top: 848px;
    left: 759px;
}
#botes {
    position: absolute;
    top: 911px;
    left: 126px;
}
#polar {
    position: absolute;
    top: 911px;
    left: 193px;
}
#deserto {
    position: absolute;
    top: 911px;
    left: 261.5px;
}
#maritmo {
    position: absolute;
    top: 911px;
    left: 329px;
}
#selva {
    position: absolute;
    top: 911px;
    left: 397px;
}
#coletes {
    position: absolute;
    top: 911px;
    left: 488px;
}
#luz {
    position: absolute;
    top: 911px;
    left: 556px;
}
#fluores {
    position: absolute;
    top: 911px;
    left: 623.5px;
}
#uhf2 {
    position: absolute;
    top: 911px;
    left: 691.5px;
}
#vhf2 {
    position: absolute;
    top: 911px;
    left: 759px;
}
#d {
    position: absolute;
    top: 973,3px;
    left: 81px;
}
#numero2 {
    position: absolute;
    top: 988px;
    left: 120px;
    resize: none;
    height: 17px;
    width: 49px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12px;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#capacidade {
    position: absolute;
    top: 988px;
    left: 187px;
    resize: none;
    height: 17px;
    width: 69px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12px;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#abrigo {
    position: absolute;
    top: 974px;
    left: 283.5px;
}
#cor {
    position: absolute;
    top: 988px;
    left: 321px;
    resize: none;
    height: 17px;
    width: 180px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#corEMarcaDaAeronave {
    position: absolute;
    top: 1033px;
    left: 120px;
    letter-spacing: 1px;
    resize: none;
    height: 17px;
    width: 733px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#n {
    position: absolute;
    top: 1065,5px;
    left: 80.5px;
    letter-spacing: 1px;
}
#observacoes {
    position: absolute;
    top: 1080px;
    left: 120px;
    letter-spacing: 1px;
    resize: none;
    height: 17px;
    width: 650px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#pilotoEmComando {
    position: absolute;
    top: 1125px;
    left: 120px;
    letter-spacing: 1px;
    resize: none;
    height: 17px;
    width: 380px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
#nome {
    position: absolute;
    top: 1205px;
    left: 65px;
    letter-spacing: 1px;
    resize: none;
    height: 17px;
    width: 263px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}
::placeholder{
    color: rgba(128, 128, 128, 0.59);
}
#codigoDac {
    position: absolute;
    top: 1217px;
    left: 344px;
    resize: none;
    height: 17px;
    width: 143px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 13.5px;
    line-height: 1.2;
    text-indent: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
    outline: none;
    border: none;
}

img#assinatura {
    position: absolute;
    padding: 0;
    top: 1192px;
    left: 640px;
    transform: translate(-50%);
    z-index: 1;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 44px;
}
