body {
    margin: 0;
    padding: 0;
    background-color: rgb(177, 192, 215);
    height: 200vh;
    font-family: Arial, Helvetica, sans-serif;
}

.barraSuperior {
    background-color: rgb(0, 30, 95);
    color: white;
    margin: 0;
    padding: 1px;
    text-align: center;
}

.boxReferencia {
    position: absolute;
    top: 90px;
    left: 65%;
    background-color: white;
    width: 485px;
    height: 300px;
    border-radius: 8px;
}
#abaColaInfoPlan {
    position: relative;
    margin: 0;
    background-color: rgb(4, 40, 120);
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 465px;
    color: white;
    text-align: left;
    font-size: 16px;
}

.aba {
    position: absolute;
    top: 0px;
    width: 486.5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
    background-color: rgb(4, 40, 120);
    padding: 10px;
    color: white;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}
.aba:hover {
    background-color: white;
    border: 2px solid rgb(4, 40, 120);
    color: rgb(4, 40, 120);
}

.coluna {
    display: none;
}
#idColuna {
    background-color: white;
    padding: 17.1px;
    margin: 0;
    border-radius: 8px;
    border-bottom-right-radius: 0;
}
.coluna2 {
    display: none;
}
#idColuna2 {
    background-color: white;
    padding: 17.2px;
    margin: 0;
    border-radius: 8px;
    border-bottom-left-radius: 0;
}

.boxDados {
    position: absolute;
    top: 390px;
    left: 65%;
    padding-top: 35px;
    height: 750px;
    display: flex;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    position: absolute;
    z-index: -1;
    width: 850px;
    height: auto;
    margin: 10px;
}

textarea {
    position: relative;
    left: 5px;
    margin: 10px;
    margin-top: 30px;
    height: 200px;
    width: 440px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(141, 141, 141);
    resize: none;
}
input {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(141, 141, 141);
}

/*Cabeçalho (Plano de voo)*/
.cabecalhoPlan {
    position: absolute;
}
#titulo {
    position: relative;
    top: 45px;
    left: 385px;
    font-weight: bold;
}
#tituloEng {
    position: relative;
    top: 30px;
    left: 405px;
    font-size: 12px;
}
#prioridade {
    position: relative;
    top: 25px;
    left: 70px;
    font-size: 6px;
}
#prioridadeEng {
    position: relative;
    top: 20px;
    left: 70px;
    font-size: 6px;
}
#setaPrioridade {
    position: relative;
    top: 7px;
    left: 60px;
    font-size: 18px;
}
#ff {
    position: relative;
    top: -32px;
    left: 105px;
    font-size: 18px;
    font-weight: bold;
}
#setaFf {
    position: relative;
    top: -89px;
    left: 138px;
    font-size: 28px;
    font-weight: bold;
}
#destinatario {
    position: relative;
    top: -158px;
    left: 180px;
    font-size: 6px;
}

/*Plano de voo*/
.planoDeVoo {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12.4px;
}

#identAero {
    position: absolute;
    top: 345px;
    left: 269px;
}

#regrasVoo {
    position: absolute;
    top: 345px;
    left: 581px;
}

#tipoVoo {
    position: absolute;
    top: 345px;
    left: 736px;
}

#numero {
    position: absolute;
    top: 386px;
    left: 72px;
}

#tipoAero {
    position: absolute;
    top: 386px;
    left: 226px;
}